/*==================*\
Default Styles Start
\*==================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
}
a{
    text-decoration: none;
    font-size: 16px;
}
.half-width{
    width: 50%;
    padding: 0 6%;
}
.btn{
    width: 196px;
    height: 44px;
    background: #E02C6D;
    padding: 10px 24px;
    color: #FFFFFF;
    font-weight: 700;
}
.container{
    padding: 0 15%;
}
/*==================*\
Default Styles End
\*==================*/

/*==================*\
Navbar Styles Start
\*==================*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6%;
    color: #3A3A3A;
}
.nav-left-side-content h2{
    font-size: 24px;
}
.nav-right-side-content ul{
    display: flex;
}
.nav-right-side-content ul li{
    list-style: none;
    margin-right: 34px;
}
.nav-right-side-content ul li a{
    color: #3A3A3A;
    
}
/*==================*\
Navbar Styles End
\*==================*/

/*=============================*\
Banner/2nd Section Styles Start
\*=============================*/
.banner{
    display: flex;
    margin-top: 70px;
}
.banner-left-side-content{
    margin-right: 150px;
    margin-top: 0;
}
.banner-left-side-content h1{
    font-size: 52px;
    font-weight: 700;
    margin: 0;
}
.banner-left-side-content p{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 35px;
}
.banner-left-side-content .btn{
    border-radius: 41px;
}
.banner-left-side-content .btn:hover{
    transition: 1s ease;
    font-size: 24px;
}
.banner-left-side-content .btn i{
    position: relative;
    top: 1px;
    margin-left: 10px;
}
.banner-right-side-content{
    margin-top: 0;
}
.banner-right-side-content img{
    width: 100%;
    height: 70%;
}
/*=============================*\
Banner/2nd Section Styles End
\*=============================*/

/*=================================*\
Brand logo/$rd Section Styles Start
\*=================================*/
.brand-logos{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ecf0f1;
    border-bottom: 1px solid #ecf0f1;
}
.brand-logos img{
    padding: 25px 0;
}
/*=================================*\
Brand logo/$rd Section Styles End
\*=================================*/